<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
  
    <div class="container-md">
      <img src="../../assets/images/printerLogo.png" alt="" width="20" height="24">
        <a class="p-1 navbar-brand text-light" href="#">PrintWise</a>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon bg-transparent"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./OurService">Our Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact">Contact Us</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->
            
          </ul>
          <ul class="navbar-nav float-end" >
            <div *ngIf="!username; else loggedInUser">
              <!-- Display Login link if the user is not logged in -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/logIn">Login</a>
                </li>
              </ul>
            </div>
            <ng-template #loggedInUser>
              <!-- Display username if the user is logged in -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/.">{{ username }}</a>
                </li>
              </ul>
            </ng-template>
            <li class="nav-item">
              <a class="nav-link" href="./upload">Upload</a>
            </li>
          </ul>
        </div>
      </div>


  </nav>