body {
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
    color: #333;
    text-align: center;
  }

  .image-section img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .image-section {
    margin-bottom: 20px;
    margin-top: 35%; /* Default margin for larger screens */
  }

  .contact-section {
    padding: 20px;
    text-align: left;
  }

  section {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
  }

  h3 {
    color: #4e54c8;
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  label {
    display: block;
    color: #333;
    font-weight: bold;
    margin-bottom: 8px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }

  button {
    background-color: #4e54c8;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #8f94fb;
  }

  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    .image-section {
      margin-top: 20px; /* Adjusted margin for smaller screens */
    }
  }