
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PrintWise</title>
 
</head>
<body>
    <div class="container">
        <div>
          <h1>Welcome to PrintWise 🖨️</h1>
        </div>
    
        <div>
          <h2>Your Printing Solution Made Easy</h2>
          <p>PrintWise simplifies the entire printing process for you. From uploading your documents to choosing the right print shop, we've got you covered.</p>
        </div>
    
        <div>
          <p>Explore our services <a href="#" target="_blank">Let's start</a></p>
        </div>
      </div>
</body>
</html>
